/bin
/temp
/out

# Compiled and packaged files

*.class
*.jar
*.zip
*.tar.gz
*.rar

# Log, lock and temp files

*.log
*.tmp
*.lock
*.~lock*
*.temp
hs_err_pid*
*.bak
*~
*.swp
*.out


# OS files

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
ehthumbs_*.db